page-childdetail {
 .login-text{
        height: 50px;
        margin-top: 149px;
    }
    .login-text{
        font-weight: bolder;
         font-size: 17px;
    }
    .add-box{
display: block;
width:100%;
    }
    .add-inner-box{
        display: inline-block;
        float: left;
        width: 15%;
      
        height: 42px;
    }
    .add-inner-box-second{
        display: inline-block;
        width:70%;
        float: left;
     
        height:42px;
    }
}
