<!--
  Generated template for the Choiceperferncepage2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>CHOICE OF PREFERENCE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p class="para-text-div-box">Tell us what are your interests?</p>
<ion-row *ngIf="content_list" style="transform: translate(4%);" >
<ion-col *ngFor="let value of content_list;let i=index" col-4  (click)="selectintrest(i)" > 
<ion-card   class="card-box" >
<img [src]="value.image">
<div  class="div-box">
<p  class="para-text">{{value.name}}</p>
<div  class="div-check-box">
  
  <ion-checkbox color="danger" (ionChange)="contentid(i)"  class="checkbox-style"  mode="ios" [(ngModel)]="value.id"></ion-checkbox>
</div>
</div>

</ion-card>
</ion-col>

</ion-row>




 

<button [disabled]="buttonDisabled" class="button-style" ion-button color="danger" full (click)="next()">Next</button>



</ion-content>

