page-subscribe-now {
    .button-box{
        color: #fff;
        background-color: #f53d3d;
        /* margin-top: 93px; */
        position: absolute;
        bottom: 78px;
        left: 14px;
        width: 90%;
    }
}
