page-dashboard {
.logo-box{
    max-width: 88%; 
}
.search-box{
  margin-left:1px  
}
.subscribe-text{
    color: grey;
    margin-top: -11px;
}
.magazine-box{
    margin-top: 74px;
    font-weight: bold;
    font-size: 300;
    font-size: 16px;
}
.button-box{
    color: #fff;
    background-color: #f53d3d;
    position: absolute;
    bottom: 49px;
    right: 23px;
    width: 88%;
}
.slider-box{

    height: 160px;
    margin-top: 64px; 
    display: block;
    width:100%;
    height: 160px;     
}
.slider-card{
display: inline-block;
width:70%;

float: left;
height: 160px;
}
.slider-arrow{
 display: inline-block;
 width:15%;

float:left;
height: 160px;
}
.slider-arrow-icon{
    display: inline-block;
    font-size: 3.1em;
    color: gray;
    margin-top: 52px;
    margin-left: 7px;
}
.slider-inner-card{
    display:block;
    width:100%;
    height: 160px;
}
.slider-card-box{
    display:inline-block;
    width:33%; 
    float: left; 
    height: 160px;
}
.card-box{
   
    margin-top: 50px;
}
}
