page-paymentgateway {
.para-style{
    margin-top: 105px;
    font-weight: 700;
}
.card-box{
    height:31px
}
.item{
    border:1px solid #9c9c9c !important;
}
.para-style-box{
    margin-top: 32px;
    font-weight: 700;
}
.button-box{
    color: #fff;
    background-color: #f53d3d;
    /* margin-top: 93px; */
    position: absolute;
    bottom: 41px;
    left: 14px;
    width: 90%;
}
}
