page-rightnavigationmenuscreen {
    .nav-bar-style{
        display: block;
        text-align: right;
        margin-top: -22px;
        margin-right: -4px;
        font-size: 0px;
    }
    .nav-bar-img{
        display: inline-block;
        height: 20px;
        margin-right: 9px;
    }
    .but-height{
        height: 40px !important; 
        margin-top: 12px !important;
    }
}
