page-contest {
    .nav-bar-style{
        display: block;
        text-align: right;
        margin-top: -22px;
        margin-right: 9px;
    }
    .nav-bar-img{
        display: inline-block;
        height: 20px;
        margin-right: 9px;
    }
    .p-text{
        font-weight: 500;
    margin-top: 57px;
    font-size: 12px
    }
    .img-box{
        height: 44px;
        margin-left: 10px;
    }
}
