page-enterdetailscreen {
.image-profile{
   
    border-radius: 50%;
    width: 28%;
    border-radius: 50%;
    height: 82px;
}
.text-para{
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
.login-text{
    height: 50px;
    
}
.login-text{
    font-weight: bolder;
     font-size: 17px;
}
}
