page-termsandconditions {
.text-box{
    margin-top: 114px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.button-box{
    position: absolute;
    bottom: 31px;
    width: 90%;
}
}
