page-faq {
    .nav-bar-style{
        display: block;
        text-align: right;
        margin-top: -22px;
        margin-right: 9px;
    }
    .nav-bar-img{
        display: inline-block;
        height: 20px;
        margin-right: 9px;
    }
    .text-div{
        margin-top: 58px;
        font-weight: bold;
        font-size: 13px;
    }
    .text-div1{
        
        font-weight: bold;
        font-size: 13px;
    }
}
